#titulo {
    font-size: 40px;
    color: rgb(255, 255, 255);
    background-color: #00021F;

}

.cabecalho{
    padding: 20px;
    background-color:rgb(96, 107, 77);
    border-bottom: 2px solid rgb(236, 115, 10);
    font-size:32px;
    color: blue;
}

.texto-principal{
    background-color: #89B9AD;
}

.conteudo-secundario {
    background-color: #C7DCA7;

}

.texto {
    text-align: center;
    color: #000000;

}

#imgprincipal {
    width: 70%;
    padding: 100px;
    margin: 30px;
}

footer {
    background-color: #b7b9dd;
    text-align: center;
}