#titulo {
    font-size: 40px;
    color: rgb(255, 255, 255);
    background-color: #00021F;

}

.cabecalho {
    padding: 20px;
    background-color: rgb(193, 220, 147)7);
    border-bottom: 2px solid rgb(203, 149, 102);
    font-size: 32px;
    color: rgb(137, 137, 172);
    text-align: center;
}

.conteudo {
    background-color: #e2e7e6;
    border-bottom: 10px solid rgb(123, 108, 108);
}

.conteudo-secundario {
    background-color: #C7DCA7;
}

#imgprincipal {
    width: 70%;
    padding: 100px;
    margin: 30px;
}

footer {
    background-color: #b7b9dd;
    text-align: center;
}