#titulo {
    font-size: 40px;
    color: rgb(255, 255, 255);
    background-color: #00021F;

}

.texto-principal{
    background-color: #89B9AD;
}

.conteudo-secundario {
    background-color: #C7DCA7;

}

.texto {
    text-align: center;
    color: #000000;

}

#imgprincipal {
    width: 50%;
    padding: 40px;
    margin: 30px;
}

footer {
    background-color: #b7b9dd;
    text-align: center;
}